    <div class="container">
        <div class="row row-content join" ng-controller="JoinController">
            <div class="col-xs-12">
				<h2>Join The Friends</h2>
                <p>
                    The Friends of the Grafton Public Library is a volunteer organization that works to support our library through advocacy and activities designed to raise money for library needs which are not funded by our local, state or federal government.
                </p>
                <p>
                    We use the money we raise from the Down Under Bookstore and memberships to offer a variety of programs to the Grafton community. These programs include museum passes, the summer reading program, exhibits, speakers, workshops, and concerts.
                </p>
            </div>
        </div>
    </div>