      <header class="header">
        <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app"><img src="images/logo_no_words.png"></a>
            <h3>Friends of the GPL</h3>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-pills pull-xs-left pull-sm-and-up-right">
              <li ui-sref-active-eq="open"><a ui-sref="app">Home</a></li>
              <li ui-sref-active-eq="open"><a ui-sref="app.about">About</a></li>
              <li ui-sref-active-eq="open"><a ui-sref="app.join">Join</a></li>
              <li ui-sref-active-eq="open"><a ui-sref="app.downunder">Bookstore</a></li>
              <li ui-sref-active-eq="open"><a ui-sref="app.contact">Contact</a></li>
              <li class="external"><a href="https://graftonlibrary.org/" target="_blank">Library Site <span class="fa fa-external-link"></span></a></li>
            </ul>
          </div>
        </nav>
        </div>
      </header>
        
        <div class="jumbotron">
          <div class="container">
            <div class="row row-header">
              <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <img class="img-responsive" ng-class="{home: $state.current.name == 'app'}" src="images/logo_no_words.png" alt="Logo for the Friends of the Grafton Public Library">
              </div>
              <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <h1>Welcome, Friend!</h1>
                <p class="lead" ng-class="{home: $state.current.name == 'app'}">The Friends of the Grafton Public Library is a volunteer organization that works to support our library through advocacy and activities designed to raise money for library needs which are not funded by our local, state or federal government.</p>
              </div>
            </div>
          </div>
        </div>
        <ol class="breadcrumb">
          <li ng-repeat="crumb in $breadcrumbs" ng-class="{ 'active' : $last }">
            <a ng-if="!$last" href="{{$state.href(crumb.state, crumb.stateParams)}}">{{crumb.title}}</a>
            <span ng-if="$last">{{crumb.title}}</span>
          </li>
        </ol>