	<div class="container">
		<div class="row row-content join" ng-controller="JoinController">
			<div class="col-xs-12">
				<h2>What's Next</h2>
				<h3>Next Meeting</h3>
				<p>The board will meet at a date to be determined, in the Municipal Center at 30 Providence Rd.  The Board meets on the second Tuesday of the month.  The current agenda is listed below, and is subject to change.</p>
				<ul>
					<li>Minutes</li>
					<li>Treasurers report</li>
					<li>Down under</li>
					<li>Labor Day Book Sale results</li>
					<li>Membership Mailing</li>
					<li>150th/90th anniversary committee update</li>
					<li>Plant Nite terrarium fundraiser update</li>
					<li>Restaurant fundraiser</li>
				</ul>
				<h3>Next Event</h3>
				<p>Celebrate Jerome Wheelock’s Birthday Saturday June 18!</p>
				<h3>Next Book Sale</h3>
				<p>There will be a book sale during Jerome's Party.</p>
				<h2>News</h2>
				<h3>New Bylaws</h3>
				<p>We passed our new by-laws!  The full text can be found <a href="misc_docs/friendsgpl_bylaws.pdf">here</a>.</p>
				<div class="row">
					<div class="col-sm-6">
						
					</div>
				</div>
			</div>
		</div>
	</div>
